.item{
    border: 2px solid black;
    height: 250px;
    width: 28%;
    margin: 1%;
    padding: 1%;
    float:left;
    text-align: center;
}

img{
    height: 100px;
    width: 100px;
    float:none;
}